
/* MOVIE LIST */
.movies-list table, .g-movies {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
    border-spacing: 0;
}

.movies-list table tr, table th, table td {
    border: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1em;
}

.movies-list table th {
    background:  var(--orange);
    color: #000000;
    font-size: 1em;
}

.movies-list table th, table td {
    padding: 10px 12px;
    text-align: left;
}

/** tbody*/

html, body {
    /* font-size: 100%; */
    font-family: 'Roboto Condensed', sans-serif;
}

td.list-img a span {
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    display: block;
    margin: 0.5em 0 0 0;
    word-wrap: break-word;
}

td.list-img a {
    text-decoration: none;
}

tr:nth-child(odd){
    background: #EFEFEF;
}

.nav-alphabet ul .active a {
    background: var(--orange);
    color: white;
    border: 1px solid var(--orange);
}

.list-img img {
    height: 120px;
    border-radius: 0.2em;
    border: 1px solid black;
    padding: 2px;
    background-color: white;
}

.list-img p {
   font-weight: bold;
   /* text-align: center; */
}

