---
layout: main
permalink: list
---
<main class="site-movies">

    <h4 class="latest-text">Каталог</h4>

    <nav class="nav-alphabet">

        <ul>
            <li class="active"><a href="#">Всички</a></li>
            <li><a href="a">А</a></li>
            <li><a href="missing">Б</a></li>
            <li><a href="missing">В</a></li>
            <li><a href="g">Г</a></li>
            <li><a href="missing">Д</a></li>
            <li><a href="missing">Е</a></li>
            <li><a href="zh">Ж</a></li>
            <li><a href="missing">З</a></li>
            <li><a href="i">И</a></li>
            <li><a href="missing">Й</a></li>
            <li><a href="missing">К</a></li>
            <li><a href="missing">Л</a></li>
            <li><a href="missing">М</a></li>
            <li><a href="missing">Н</a></li>
            <li><a href="missing">О</a></li>
            <li><a href="p">П</a></li>
            <li><a href="r">Р</a></li>
            <li><a href="s">С</a></li>
            <li><a href="t">Т</a></li>
            <li><a href="u">У</a></li>
            <li><a href="f">Ф</a></li>
            <li><a href="h">Х</a></li>
            <li><a href="ts">Ц</a></li>
            <li><a href="ch">Ч</a></li>
            <li><a href="sh">Ш</a></li>
            <li><a href="sht">Щ</a></li>
            <li><a href="y">Ъ</a></li>
            <li><a href="yu">Ю</a></li>
            <li><a href="ya">Я</a></li>
        </ul>
    </nav>

    <section class="movies-list">
        <table>
        <thead>
            <tr>
                <th>Заглавие</th>
                <th>Режисьор</th>
                <th>Актьори</th>
                <th>Държава</th>
                <th>Година</th>
                <th>Жанр</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>

            {% include a.html %}
            {% include b.html %}
            {% include v.html %}
            {% include g.html %}
            {% include d.html %}
            {% include e.html %}
            {% include zh.html %}
            {% include z.html %}
            {% include i.html %}
           
                        
        </tbody>
        </table>
    </section>
    
</main>