---
layout: main
---
<main class="site-movies">

    <h4 class="latest-text">Каталог</h4>

    <nav class="nav-alphabet">

        <ul>
            <li class="active"><a href="#">Всички</a></li>
            <li><a href="ada.html">0 - 9</a></li>
            <li><a href="missing">А - Д</a></li>
            <li><a href="i">Е - И</a></li>
            <li><a href="missing">Й - О</a></li>
            <li><a href="missing"> П - У</a></li>
            <li><a href="missing">Ф - Ш</a></li>
            <li><a href="missing">Щ - Я</a></li>           
        </ul>
    </nav>

    <section class="movies-list">
    <table>
        <thead>
            <tr>
                <th>Заглавие</th>
                <th>Режисьор</th>
                <th>Актьори</th>
                <th>Държава</th>
                <th>Година</th>
                <th>Жанр</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>

                {% include a.html %}
                {% include b.html %}
            
            {% for movies in movie_list %}
            <tr>
                <td class="list-img"><img src="images/{{ movies.image }}.jpg" > <p> {{ movies.name }} </p></td>
                <td>{{ movies.director }}  </td>
                <td>{{ movies.actors }}</td>
                <td>{{ movies.country }}</td>
                <td>{{ movies.year }}</td>
                <td>{{ movies.genre }}</td>
                <td>{{ movies.stars }}</td>
            </tr>
            {% endfor %}   
            
        </tbody>
    </table>
    </section>
</main>