
<tr>
    <td class="list-img"><img src="images/6.jpg" alt="basterds"> <p> Гадни копилета  / Inglourious Basterds  </p></td>
    <td>Куентин Тарантино и Ели Рот</td>
    <td> Брад Пит, Мелани Лорен, Кристоф Уолтц,</td>
    <td>САЩ, Германия</td>
    <td>2009</td>
    <td>Приключенски, Драма, Военен</td>
    <td>8.3</td>
</tr>

<tr>
    <td class="list-img"><img src="images/1.jpg" alt="inception"> <p> Генезис / Inception </p></td>
    <td>Кристофър Нолан </td>
    <td>Леонардо Ди Каприо, Елън Пейдж, Марион Котияр</td>
    <td>САЩ, Великобритания</td>
    <td>2010</td>
    <td>Екшън, Приключенски, Фантастика</td>
    <td>8.8</td>
</tr>

<tr>
    <td class="list-img"><img src="images/5.jpg" alt="snatch"> <p> Гепи / Snatch  </p></td>
    <td>Гай Ричи</td>
    <td> Стивън Греъм, Раде Шербеджия, Бенисио Дел Торо, Брад Пит, Джейсън Стейтъм</td>
    <td>Великобритания, СА0</td>
    <td>2001</td>
    <td>Криминален, Комедия</td>
    <td>8.3</td>
</tr>