
<tr>
        <td class="list-img"><img src="images/7.jpg" alt="heat"> <p> Жега / Heat</p></td>
        <td>Майкъл Ман </td>
        <td> Ал Пачино, Робърт Де Ниро, Вал Килмър</td>
        <td>САЩ </td>
        <td>1995</td>
        <td>Криминален, Драма, Трилър</td>
        <td>8.2</td>
</tr>    

<tr>
        <td class="list-img"><img src="images/4.jpg" alt="joker"> <p> Жокера / Joker  </p></td>
        <td>Тод Филипс</td>
        <td>Хоакин Финикс, Зази Бийц, Робърт Де Ниро</td>
        <td>САЩ</td>
        <td>2019</td>
        <td>Екшън, Драма, Трилър</td>
        <td>8.8</td>
</tr>
