@media (max-width: 1000px) {

    .site-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie > div {
        padding-bottom: 2rem;
    }

    .site-header, .site-footer  {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 850px) {
   
  
}

@media (max-width: 500px) {
 
}


