
 .nav-alphabet ul { 
    display: flex;
    /* align-content: center; */
}

.nav-alphabet ul { 
   padding-left: 6rem;
   padding-bottom: 2em;
}


.nav-alphabet ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: 1px solid  #717171;
    border-radius: 0.3em;
    font-size: 15px;
    margin: 0.3em;
}

.nav-alphabet ul li {
    display: block;
}

.movies-list table, .g-movies {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
    border-spacing: 0;
}

.movies-list table tr, table th, table td {
    border: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1em;
}

.movies-list table th {
    background:  $color-orange;
    color: $color-black;
    font-size: 1em;
    
}

.movies-list table th, table td {
    padding: 10px 12px;
    text-align: left;
}

/* .movies-list thead, .movies-list tbody {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
} */

/** tbody*/

html, body {
    /* font-size: 100%; */
    font-family: $font-custom, sans-serif;
}

td.list-img a span {
    color: $color-black;
    font-size: 1em;
    font-weight: 600;
    display: block;
    margin: 0.5em 0 0 0;
    word-wrap: break-word;
}

td.list-img a {
    text-decoration: none;
}

tr:nth-child(odd){
    background: #EFEFEF;
}

.nav-alphabet ul .active a {
    background: $color-orange;
    color: white;
    border: 1px solid $color-orange;
    /* box-shadow: 0 0 1em 0 rgba(248, 148, 6, 1); */
}


.list-img img {
    height: 120px;
    border-radius: 0.2em;
    border: 1px solid $color-black;
    padding: 2px;
    background-color: white;
}

.list-img p {
   font-weight: bold;
   /* text-align: center; */
}

