 @include bp(desktop_small)
 { //1100px

    .list-grid-header {display: none;}

    .list-grid  {

        .invisible {
            opacity: 1;
            color: blueviolet;
         }

        display: grid;
        grid-template-columns: 1fr;
        border-top: 1px solid $color-lightgray;
    }

    .nav-alphabet ul { 
        display: block;
      
        
        li {
         display: block;
     
             a {
                 padding: 0;
                 text-transform: uppercase;
                 font-family: 'Kosugi Maru', sans-serif;
                 margin: 0.5em;
                 color: white;
                 background: linear-gradient(90deg, $color-lightgray 0%, white 35%, white 100%);
                 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
                 border-radius: 50%;
                 font-size: 20px;
                 font-weight: bold;
             }
         }
     }
}

// @include bp(mobile_small) { // 320

    
// }