
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}