 @include bp(desktop_small)
 { 
    .list-grid-header {display: none;}

    .list-grid  {

        .invisible {
            opacity: 1;
            color: blueviolet;
         }

        display: grid;
        grid-template-columns: 1fr;
        border-top: 1px solid $color-lightgray;
    }

    .nav-alphabet ul { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 1,5rem 6rem; 
        
        li {
         display: block;
     
             a {
                 padding: 0;
                 text-transform: uppercase;
                 color:$color-diff2; 
                 background: linear-gradient(90deg, $color-lightgray 0%, white 35%, white 100%);
                 font-size: 15px;
                 font-weight: bold;
             }
         }
     }

     .news {

        display: grid;
        grid-template-columns: 1fr;
    
        .title {
            font-size: 13px;
            font-weight: bold;
        }

        .first-new {
            padding-bottom: 2rem;
        }
    
        p {
            font-size: 12px;
        }
        
        img {
            width:40vw;
        }
    }

    .register-movie input:nth-child(7), .register-movie input:nth-child(8){
        width: 37%;
    }

    .register-movie {
        padding-left: 3em;
    }

      ::-webkit-input-placeholder {
        font-size: 10px;
      }
      
      .btn-create {
        margin: 2rem 1rem;
      }

      .one-row input+label {
        font-weight: normal;
        font-size: 13px;
        padding: 0rem 0 0 1rem;
     }
}
