.site-footer {
    /* height: 40px; */
     background-color: black;
     color: white;
     position: relative;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin-bottom: 0px;
     display: flex;
     justify-content: space-between;
     padding: 0.5rem 6rem 0.5rem 7rem;   
    //  position: fixed;
     padding-left: 1em;
 }
