// .site-header {
// 	position: relative;
// 	z-index: 2000;

// 	.site-wrapper {
// 		padding-top: 2rem;
// 		padding-bottom: 2rem;

// 		@include bp(desktop) {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;
// 		}
// 	}
// }

// .site-title {
// 	padding: 0;
// 	font-weight: 500;
// }

// .site-media {
// 	min-height: 50vh;
// 	overflow: hidden;
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-end;
// 	padding: 2em 0;
// }

// .site-media:before {
// 	display: block;
// 	content: '';
// 	background: rgba(19,41,48,.8);
// 	position: absolute;
// 	top: 0; 
// 	left: 0; 
// 	right: 0; 
// 	bottom: 0;
// }

// .site-media .site-wrapper {
// 	width: 100%;
// 	color: #FFF;
// 	position: relative;
// 	z-index: 10;
// 	font-size: 1.6em;
// 	padding-top: 2rem;
// 	padding-bottom: 5rem;

// 	@include bp(desktop) {
// 		padding-right: 10em;
// 	}
// }

// .site-media p,
// .site-media h2 {
// }

// .site-media h2 {
// 	font-weight: 700;
// }

// .site-media p {
// 	font-weight: 400;
// 	opacity: 0.8;
// }

// .site-media .social {
// 	padding-top: 2em;
// }
