.site-footer {
    position: absolute;	
    display: flex;	
    justify-content: space-between;	
    align-items: center;
    width: 100%;	
    height: 4rem;       	
    background-color: black;	
    color: white;
    
    .info {
      padding-left: 6rem;
    }

    .social {
      padding-right: 6rem;

      ul {

        display: flex;

        li {
            display: block;
            transition: transform 0.3s ease-in-out;    
        }

        li:hover {
            transform: scale(1.3);  
            
        }

        li a {
            text-decoration: none;
            padding: 1rem 1.5rem;
            color: white;
            font-size: 25px;
        }
      }
    }

}

// .site-footer .site-wrapper, .social {
//   padding: 2em 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-size: 1.2em;
// }

// .site-footer .social a {
//   background: #CCC;
//   color: #FFF;
// }

// .site-footer .site-wrapper p {
//   opacity: 0.4;
//   transition: opacity 0.3s ease-in;
// }

// .site-footer:hover .site-wrapper p {
//   opacity: 0.8;
// }

// .site-footer .site-wrapper p:first-child {
//   font-size: 1.2em;
// }


