
.movie {
    padding: 3rem 0.5rem;
    margin-left: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 22em);

    p {
        font-weight: bold;
        text-decoration: none;
        color: black;
        padding-bottom: 0.5rem;
    }

    i{
        color: $color-orange;
    }

    img {
        height: 12vw;
        width: auto;
        border-radius: 0.3em;
        border: 1px solid black;
        background-color: $color-lightgray;
        padding: 0.5em;
    }
    
    .movie1, .movie2, .movie3, .movie4, .movie5, .movie6 {
        margin-right: 1em;
        /* padding: 0.5em; */
    }

    .movie3 .stars i:nth-child(6),
    .movie4 .stars i:nth-child(6),
    .movie5 .stars i:nth-child(6),
    .movie6 .stars i:nth-child(6) {
        color: gray;
    }

    info time {
        float: left;
        padding-right: 3rem;
    
    }
}

.site-main h4.latest-text, .site-movies h4.latest-text {
    border-left: 0.2rem solid $color-orange;
    font-size: 1.5rem;
    font-weight: normal;
    color: $color-black;
    margin: 2.5rem 0 0 6rem;
    padding: 0.5rem 0.5rem;
}

.site-movies {
    // margin-bottom: 2.5rem;

    h4.latest-text {
        margin-bottom: 2.5rem;
    }
}
