@include bp(desktop_large) {} // 1600

@include bp(desktop_small){ //1100px
      // navigation

    //   .site-nav ul li {
    //     border-left: 1px dotted white;

    // }

    // .site-nav ul li {
    //     border-right: 1px dotted white;
    //     background: $color-orange;
    // }

    // .site-nav ul li a {
    //     float: left;
    //     display: block;
    //     // color: $color-black;
    //     text-align: center;
    //     padding: 5px;
    //     text-decoration: none;
    //     // font-size: 14px;
    //     border: none;
    // }


    // .site-nav ul li:nth-child(1) a {
    //     border-left: none;
    // }

    // .site-nav {
    //     background: none;
    //     margin-bottom: 4rem;
    // }
    
}
@include bp(tablet_large) { //980px

    font-size: 14px;

    // navigation

    .site-nav ul li {
        border-left: 1px dotted white;

    }

    .site-nav ul li {
        border-right: 1px dotted white;
        background: $color-orange;
    }

    .site-nav ul li a {
        float: left;
        display: block;
        // color: $color-black;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        // font-size: 14px;
        border: none;
    }


    .site-nav ul li:nth-child(1) a {
        border-left: none;
    }

    .site-nav ul li {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .site-nav {
        background: none;
        margin-bottom: 4rem;
    }
    
    .site-main, .site-header, .site-footer  { //.site-nav ul, ,  .movie 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // font-size: 12px;
    }

    // index

    .movie > div {
        padding-bottom: 2rem;
        // font-size: 12px;
    }

    .movie {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5%;
    }
   
    .list-grid-header {display: none;}

    .list-grid  {

        .invisible {
            opacity: 1;
            color: $color-diff;
         }

         border-top: 1px solid $color-lightgray;

        font-size: $list-font-size;
        text-align: left;
        grid-gap: 0.5%;

        grid-template-columns: 1fr;
    }

    
    .nav-alphabet ul { 

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        a {
            font-size: 10px;
            padding: 0.5rem 0.5rem !important;
        }
        padding-left: 6rem;
        padding-bottom: 1rem;
    

        li a:hover {
            font-weight: bold;
        }
    }

    .latest-text {
        font-size: 1rem !important;
        font-weight: bold !important;
    }

    .one-row {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    // .btn-create {
    //     background: $color-orange;
    //     margin-right: 1rem;
    //     margin-left: 2rem;
    //   }

    
    .subscribe {

        padding: 1rem 6rem;
        width: 150vw;

        p {
            font-size: 12px;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
        }

        form {
            width: 50%;
            border: 1px solid #fff;
            padding: 0.5rem;
            background: $color-lightgray;
        }

        input[type="email"] {
            outline: none;
            padding: 0.5rem;
            font-size: 12px;
            width: 50%;
            border: none;
        }

        .btn-subscribe {
            background: $color-black;
            width: 40%;
            font-size: 10px;
        }
    }

    .news {

        display: grid !important;


        .title {
            font-size: 13px;
        }
        img {
            padding-bottom: 1rem;
            width: 20vw;
        }
    
        .first-new {
           padding-right: 2rem;
        }
    
        p {
            padding-bottom: 1rem;;
        }
    
    }


    .o {
        display: grid;
        grid-template-columns: 1fr;
        max-height: 10r;
    }

}


@include bp(tablet_small) { //768

    // .bg {
    //     display:none;
    // }

    // .site-header .search input[type=search] {	
    //     width: 20rem;	
    // }

    // .site-nav {
    //      margin-bottom: 0.5rem;
    //      margin-left: 4rem;
    // }

    // .site-header .log-in {
    //     margin: 1em;
    // }

    // .site-main h4.latest-text {
    //     margin: 0.5rem 0 0 0.5rem;
    // }
    // .bg {
    //     margin-top: 0rem;
    // }

}



@include bp(mobile_large) { // 640

    // .site-header .search input[type=search] {	
    //     width: 20rem;	
    // }

    // .site-nav { margin-bottom: 0.5rem;}

    // .site-header .log-in {
    //     margin: 1em;
    // }

    // .site-main h4.latest-text {
    //     margin: 2rem 0 0 3rem;
    // }
}


// @include bp(mobile_medium) { // 480

//     .site-header .search input[type=search] {	
//         width: 15rem;	
//     }

//     .site-nav { margin-bottom: 0.5rem;}

//     .site-header .log-in {
//         margin: 1em;
//     }

//     .site-nav ul li {
//         border-bottom: 1px dotted #fff;
//         width: auto;
//     }

//     .site-nav ul li a {
//         font-size: 13px !important;
//     }

//     .site-header .log-in .btn-log-in {
//         font-size: 13px;
//     }

//     .site-main h4.latest-text {
//         margin: 2rem 0 0 3rem;
//         font-size: 12px !important;
//     }

//     .site-header .search input[type=search] {	
//         width: 10rem;	
//     }

//     .movie p {
//         font-size: 13px;
//     }

//     .site-footer .social ul li a {
//         padding: 0.5rem;
//         font-size: 20px;
//     }

//     .site-footer {
//         font-size: 13px;
//     }
// }

@include bp(mobile_small) { // 320

    .subscribe {

        input[type="email"] {
            width: 100%;
        }

        .btn-subscribe {
            width: 100%;
        }
        
    }

    .site-nav { margin-bottom: 1rem;}
    .site-nav ul  {
        display: flex;
        flex-direction: column;
    }

    .site-nav ul li {
        border-bottom: 1px dotted #fff;
        width: auto;
    }

    .site-nav ul li a {
        font-size: 12px !important;
    }

    .site-header .log-in .btn-log-in {
        font-size: 12px;
    }

    .site-main h4.latest-text {
        margin: 7rem 0 0 6rem;
        font-size: 12px !important;
    }

    .site-header .search input[type=search] {	
        width: 10rem;	
    }

    .movie p {
        font-size: 12px;
    }

    .site-footer .social ul {
        margin-left: 6rem;
    }

    .site-footer .social ul li a {
        padding: 0.5rem;
        font-size: 20px;
    }

    .site-footer {
        font-size: 12px;
    }

    .bg {
        margin-top: 9rem;
    }
}