---
layout: main
---
<main class="site-movies">

    <h4 class="latest-text">Каталог</h4>

    <nav class="nav-alphabet">

        <ul>
            <li class="active"><a href="all_movies.html">Всички филми</a></li>
            <li><a href="0-9.html">0 - 9</a></li>
            <li><a href="a-d.html">А - Д</a></li>
            <li><a href="e-i.html">Е - И</a></li>
            <li><a href="y-o.html">Й - О</a></li>
            <li><a href="p-u.html"> П - У</a></li>
            <li><a href="f-sh.html">Ф - Ш</a></li>
            <li><a href="sht-ya.html">Щ - Я</a></li>           
        </ul>
    </nav>

    <section class="list">
        <div class="list-grid-header">
            <div>Заглавие</div>
            <div>Режисьор</div>
            <div>Актьори</div>
            <div>Държава</div>
            <div>Година</div>
            <div>Жанр</div>
            <div>Рейтинг</div>
        </div>

        {{ content }}

    </section>
</main>